<h1>アカウント設定</h1>
<ul class="setting-menu">
    <li>
        <%= link_to("プロフィール設定", "/settings/profile") %>
    </li>
    <li>
        <%= link_to("パスワード設定", "/settings/password") %>
    </li>
    <li>
        <%= link_to("メールアドレス設定", "/settings/email") %>
    </li>
    <li>
        <%= link_to("SNS設定", "/settings/sns") %>
    </li>
    <li>
        <%= link_to("レコード設定", "/settings/records") %>
    </li>
</ul>
