<% set_meta_tags title: "プロフィール" %>
<% set_meta_tags noindex: true %>

<h1>プロフィール</h1>
<div class="profile">
    <div class="image">
        <%= image_tag(@user.image)%>
    </div>
    <div class="name"><%= @user.name %></div>
    <div class="description"><%= @user.description %></div>
    <table class="urls">
        <tbody>
            <tr>
                <td>
                    <i class="fas fa-home"></i>
                </td>
                <td>
                    <a href="<%= @user.url %>"><%= @user.url%></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="border-line"></div>
    <table class="status">
        <thead>
            <tr>
                <td>投稿数</td>
                <td>褒めた数</td>
                <td>褒められた数</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @user.posts_count %></td>
                <td><%= @user.praises_count %></td>
                <td><%= @user.praised_count %></td>
            </tr>
        </tbody>
    </table>
</div>
<%= render :partial => "layouts/posts" %>
