<!DOCTYPE html>
<html>

<head>
    <title>Praidea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <header>
        <%= link_to("", "#{@current_user ? "/posts" : "/"}", class: "logo")%>
        <ul class="menu">
            <li>
                <%= link_to("トップ", "/") %>
            </li>
            <li>
                <%= link_to("投稿一覧", "/posts") %>
            </li>
        </ul>

        <% if @current_user %>
        <div class="user-image">
            <%= image_tag(@current_user.image) %>
        </div>
        <% else %>
        <%= link_to("/auth/twitter", class: "twitter") do %>
        <i class="fab fa-twitter"></i> Twitterでログイン
        <% end %>
        <% end %>
        <% if @current_user %>
        <div class="popup-menu">
            <div class="close"><i class="fas fa-times"></i></div>
            <%= image_tag(@current_user.image) %>
            <p><%= @current_user.name %></p>
            <ul>
                <li>
                    <%= link_to("/users/#{@current_user.id}") do %><span class="icon"><i class="far fa-id-card"></i></span>プロフィール<% end %>
                </li>
                <li>
                    <%= link_to("/settings/profile") do %><span class="icon"><i class="fas fa-user-cog"></i></span>アカウント設定<% end %>
                </li>
                <li>
                    <%= link_to("/logout", method: "POST") do %><span class="icon"><i class="fas fa-sign-out-alt"></i></span>ログアウト<% end %>
                </li>
            </ul>
        </div>
        <% end %>
    </header>
    <%= yield %>
    <footer>
        <ul>
            <li>
                <%= link_to("利用規約", "/terms") %>
            </li>
            <li>
                <%= link_to("プライバシーポリシー", "/privacy") %>
            </li>
        </ul>
        <p>This app was developed for web1week 2020<a href="https://twitter.com/AkioMabuchi">@AkioMabuchi</a></p>
    </footer>
</body>

</html>
