<!DOCTYPE html>
<html>

<head>
    <title>Praidea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <header>
        <%= link_to("", "/", class: "logo")%>
        <%= link_to("/auth/twitter", class: "twitter") do %>
        <i class="fab fa-twitter"></i> Twitterでログイン
        <% end %>
    </header>
    <%= yield %>
    <footer>

    </footer>
</body>

</html>
